<div class="small-container">

  <h1>Sign up</h1>
  
  <br />
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
  
    <div class="field">
      <%= f.email_field :email, autofocus: true, :class => "sign-in-form", :placeholder => "Email" %>
    </div>
    
    <div class="field">
      <%= f.text_field :first_name, :class => "sign-in-form", :placeholder => "First name" %>
    </div>
    
    <div class="field">
      <%= f.text_field :last_name, :class => "sign-in-form", :placeholder => "Last name" %>
    </div>
  
    <div class="field">
      <%= f.password_field :password, autocomplete: "off", :class => "sign-in-form", :placeholder => "Password (8 characters minimum)" %>
    </div>
  
    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "off", :class => "sign-in-form", :placeholder => "Password confirmation" %>
    </div>
  
    <div class="actions">
      <%= f.submit "Sign up", :class => "logo-picture-button" %>
    </div>
    
    <hr />
    
  <% end %>
  
  <%= render "devise/shared/links" %>

</div>