<% provide(:title, "Feed") %>

<!-- Only display curated feed and interest feed if user signed in -->
<% if user_signed_in? %>

  <div class="index-buttons">
    <button class="btn btn-custom" id="toggle-subscriber">Show Subscriber Feed</button>
    <button class="btn btn-custom" id="toggle-recommended">Show Recommended Feed</button>
    <button class="btn btn-custom" id="toggle-trending">Show Trending Feed</button>
  </div>

  <!-- Article feed (subscribers' articles) -->
  <div id="subscriber-article-feed">
    <div class="category-title">
      <h1>My subscribers' articles</h1>
    </div>
    
    <div class="row">
      <%= render @articles %>
    </div>
    
    <div class="paginate-container">
        <%= paginate @articles, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" unless @articles.empty? %>
    </div>
  </div>
  
  <div id="interest-article-feed">
    <!-- Article feed (articles that are in categories the user is interested in) -->
    <div class="category-title">
      <h1>My recommended articles</h1>
    </div>
    
    <div class="row">
      <%= render @interested_articles %>
    </div>
    
    <div class="paginate-container">
        <%= paginate @interested_articles, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" unless @interested_articles.empty? %>
    </div>
  </div>
  
<% end %>

<div id="trending-article-feed">
  <!-- Likes feed (articles sorted by number of likes) -->
  <div class="category-title">
    <h1>Trending articles</h1>
  </div>
  
  <div class="row">
    <%= render @trending_articles %>
  </div>
  
  <div class="paginate-container">
      <%= paginate @trending_articles, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" unless @trending_articles.empty? %>
  </div>
</div>

