<% provide(:title, "Feed") %>

<!-- Article feed (subscribers' articles) -->
<div class="subscriber-article-feed">
  <div class="category-title">
    <h1>My subscribers' articles</h1>
  </div>
  
  <div class="row">
    <%= render @articles %>
  </div>
  
  <div class="paginate-container">
      <%= paginate @articles, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" unless @articles.empty? %>
  </div>
</div>


<br /><br /><br /><br />


<div class="interest-article-feed">
  <!-- Article feed (articles that are in categories the user is interested in) -->
  <div class="category-title">
    <h1>My recommended articles</h1>
  </div>
  
  <div class="row">
    <%= render @interested_articles %>
  </div>
  
  <div class="paginate-container">
      <%= paginate @interested_articles, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" unless @interested_articles.empty? %>
  </div>
</div>


<br /><br /><br /><br />


<div class="trending-article-feed">
  <!-- Likes feed (articles sorted by number of likes) -->
  <div class="category-title">
    <h1>Trending articles</h1>
  </div>
  
  <div class="row">
    <%= render @trending_articles %>
  </div>
  
  <div class="paginate-container">
      <%= paginate @trending_articles, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" unless @trending_articles.empty? %>
  </div>
</div>

