<% provide(:title, "Article") %>

<div class="article-show">
  <!-- Render categories of the article -->
  <div class="article-categories">
    <% unless @article.categories.empty? %>
      <b>Categories</b>:
      <% @article.categories.each do |category| %>
        | <%= category.name %>
      <% end %>
    <% end %>
  </div>
  
  <h1>
    <a href=<%= @article.url %>>
      <%= @article.title %>
    </a>
  </h1>
  
  <!-- Show photo only if it was pulled successfully with Pismo -->
  <% unless @article.photo.nil? or @article.photo.empty? %>
   <%= image_tag @article.photo, :class => "article-picture" %>
  <% end %> 
  
  <br />
  
  <div class="row">
    <!-- Left column -->
    <div class="col-md-8">
      <!-- Article content -->
      <div class="article-content">
        <%= @article.content.html_safe unless @article.content.blank? %>
      </div>
      
      <%= @article.url %>
      
      <br />
      
      <%= link_to 'Edit', edit_article_path(@article) %> |
      <%= link_to 'Back', articles_path %>
      
      <br /><br />
    </div>
    
    <!-- Right coolumn -->
    <div class="col-md-4">
      <div class="article-show-user-picture">
        <%= render 'users/user_picture' %>
        <div class="article-posted-by">
          Posted <%= time_ago_in_words(@article.created_at) %> ago by: <a href=<%= user_path(@article.user.id) %>><%= @article.user.first_name %> <%= @article.user.last_name %></a>
        </div>
      </div>
      
      <div class="article-show-likes">
        <span class="glyphicon-article-show">
          <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
          <%= @article.likes.size %>
        </span>
        <%= render 'likes/likes_form' %>
      </div>
      
      <%= link_to 'Edit Article', edit_article_path(@article) %>
      <%= link_to 'Destroy Article', @article, method: :delete, data: { confirm: 'Are you sure?' } %>
      
      <br /><br />
      
      <%= render 'comments' %>
  
    </div>
  </div>
</div>
<br /><br />