<div class="small-container">
  <% provide(:title, @group.group_name) %>
  
  <h1> Group: <%= @group.group_name %> </h1>
  
  <% if @group.users.size > 0 %>
    <h3>Users (<%= @group.users.size %>):</h3>
  <% else %>
    <h3>No users.</h3>
  <% end %>
  
  <% @group.users.each do |user| %>
   <%= user.first_name %> <%= user.last_name %>
   <br />
  <% end %>
  
  <br />
  
  <!-- If the current user is subscribed to the current group, then we want
      	     to give him/her the ability to add other users to the group -->
      	     
  <%= form_tag "/groups/invite/" + @group.id.to_s, :class => 'navbar-form navbar-search' do %>
    <%= text_field_tag :username, params[:username], :id => 'search_field', :class => 'form-control', :placeholder => 'Add user by email' %>
    <%= submit_tag "Invite", :name => nil, :class => "btn btn-custom" %> 
  <% end %>
  
  <%= render 'user_search_form' %>
  
  <br />
  
  <!-- Rendering of user search results -->
  <% if @user_search %>
    <div class="user-list">
      <ul>
        <% @users.each do |user| %>
          <li>
            <!-- Link to invite each user in the search results (triggers the groups#invite action) -->
            <%= form_tag ("/groups/invite/" + @group.id.to_s) do %>
              <%= hidden_field_tag 'username', user.email %>

              <!-- Only render a profile picture if the user's provider is Facebook (CSS -20px difference on bottom margin for article-show-picture) -->
              <% if user.provider == "facebook" and !user.image.nil? and !user.image.empty? %>
                <div class="article-show-picture">
                  <%= image_tag user.image %>
                </div>
              <% end %>
              
              <input name="commit" type="submit" value='Add <%= user.first_name %> <%= user.last_name %> to group' class="btn btn-custom">
            <% end %>
          </li>
          <hr />
        <% end %>
      </ul>
    </div>
  <% end %>
        
  <br /><br />
        
  <%= link_to "Post article to group", new_article_path( :group_id => @group.id ), :class => "logo-picture-button" %>
  
  <% if current_user.id == @group.creator.id %>
    <br /><br /><br />
    <%= link_to 'Delete Group', @group, method: :delete, data: { confirm: 'Are you sure?' }, :class => "delete-group-button" %>
  <% end %>
</div>

<%= render @articles %>
