<div class="small-container">
  <%= render 'user_picture' %>
  <h1>
    <%= @user.first_name %> <%= @user.last_name %>
  </h1>
</div>

<br />

<div class="small-container">
  <h4>
    Interested categories (<%= @user.interested_categories.size %>):<br />
  </h4>
  <div class="interested-categories">
    <% if @user.interested_categories.empty? %>
      No categories selected.
    <% else %>
      <% @user.interested_categories.each do |category| %>
        <%= category.name %><br />
      <% end %>
    <% end %>
  </div>
  
  <!-- Only let the user select interested categories if the signed in user is actually the user who is on the show page... -->
  <% if current_user.id == @user.id %>

    <h4>
      Choose which article categories you are interested in:
    </h4>
    
    <%= form_for @user, :url => {:action => "select_interested_categories", :params => {id: @user.id}}, :method => "post" do |f| %>
      <div class="form-list-categories">
          <% unless @categories.nil? %>
            <% @categories.each do |t| %>
              <%= check_box_tag "categories[#{t.id}]", t.name %>
              &nbsp;
              <%= t.name %>
              <br />
            <% end %>
          <% end %>
          <br />
      </div>
      <%= f.submit "Set Interested Categories", :class => "logo-picture-button" %>
    <% end %>
  <% end %>
  
</div>
    
<br /> 
    
<div class="small-container">
  <h3>
    <%= @user.first_name %>'s Subscription Information
  </h3>
  
  <br />
  <!-- Subscriptions -->
  <%= render 'shared/subscription_stats' %>
  <%= render 'subscribe_form' if user_signed_in? %>
  
  <h3>
    <%= @user.first_name %>'s Groups
  </h3>
  
  <div class="row" id="my-groups">
    <% if @groups.empty? %>
      <%= @user.first_name %> is not subscribed to any groups.
    <% else %>
      <% @groups.each do |group| %>
        <%= render group %>
      <% end %>
    <% end %>
  </div>
  
</div>

<%= render @articles %>


