<div class="small-container">

  <h1>
    <%= @user.first_name %> <%= @user.last_name %>
  </h1>
  
  <!-- Subscriptions -->
  <%= render 'shared/subscription_stats' %>
  <%= render 'subscribe_form' if user_signed_in? %>
  
  <h3>
    <%= @user.first_name %>'s Groups
  </h3>
  
  <div class="row" id="my-groups">
    <% if @groups.empty? %>
      <%= @user.first_name %> is not subscribed to any groups.
    <% else %>
      <% @groups.each do |group| %>
        <%= render group %>
      <% end %>
    <% end %>
  </div>
  
</div>

<%= render @articles %>

